{% extends "swo_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="content-section">
            <div class="row">
                <div class="col-lg-6">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                                {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Log In</button>
                            <small class="text-muted ml-2">
                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                            </small>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                        </small>
                        <img src="{% static 'swo_app/img/logo.png' %}" alt="" class="img-fluid mb-2 mt-4 rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}