{% extends "swo_app/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="content-section">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2>You have been logged out!</h2>
                <small class="text-muted">
                    <a class="ml-5" href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
            <div class="col-lg-6 mb-5">
                    <img src="{% static 'swo_app/img/logo.png' %}" height="600" width="600" alt="" class="img-fluid mb-2 mt-4 rounded">
            </div>
        </div>
    </div>
</div>
{% endblock content %}