{% extends "swo_app/base.html" %}
{% load static %}
{% block content %}
<div class="container-fliud">
<div class="content-section">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="mb-3">Donate to Swokowski Mathematics</h3>
            <p>
                First of all, thanks so much for visiting Swokowski Mathematics!
                I really hope you are enjoying the course and learning a lot. It's been a joy to 
                create the videos and worksheets and see all of the positive feedback about the course. With over 
                200 lessons already on the site, I'm excited to continue uploading lessons and get into more 
                advanced Algebra topics. With that said, I do have a full time teaching job in the city of Milwaukee, Wisconsin. 
                Creating the lessons for Swokowski Mathematics has taken hundreds of hours over the last two years and has become
                a full time job in and of itself.
            </p>
            <p>
                Currently, the course is offered on 
                <a href="https://www.udemy.com/course/theultimateguidetounderstandingalgebra/" target="_blank">Udemy</a> 
                for a small price, but I've made the decision to also offer the course for free here because I feel anyone
                should have the opportunity to learn regardless of their financial situation. Although, if you have the 
                means to do so, subscribing to the course on Udemy or making a make donation below would mean the
                world to me. The donation (or revenue from Udemy) goes towards creating a better learning experience for all.
                Whether it's for improvements to this website, for better materials to create the content, or for marketing 
                purposes to reach more students, your contribution will be greatly valued. Thanks again! -John
            </p>


            <script src="https://checkout.stripe.com/checkout.js"></script>
            <h4>Enter an amount: </h4>
            <form id="myForm" action="{% url 'app-charge' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input class="w-50" type="number" value="10" min="5" id="amountInDollars" />
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <small>(Minimum of $5.00 due to processing fees.)</small>
                <input type="hidden" id="stripeToken" name="stripeToken" />
                <input type="hidden" id="stripeEmail" name="stripeEmail" />
                <input type="hidden" id="amountInCents" name="amountInCents" />
            </form> 
            <input class="btn btn-primary mt-3" type="button" id="customButton" value="Donate">
            
        </div>

        <div class="col-lg-6">
            <img src="{% static 'swo_app/img/logo.png' %}" alt="" class="img-fluid mb-2 mt-4 rounded">
        </div>
        
    </div>
</div>
</div>

{% endblock content %}

{% block stripe %}

<script type="text/javascript">
    var handler = StripeCheckout.configure({
        key: '{{ key }}',
        image: "{% static 'swo_app/img/logo.png' %}",
        token: function(token) {
            $("#stripeToken").val(token.id);
            $("#stripeEmail").val(token.email);
            $("#amountInCents").val(Math.floor($("#amountInDollars").val() * 100));
            $("#myForm").submit();
        }
    });

    $('#customButton').on('click', function(e) {

        var amountInCents = Math.floor($("#amountInDollars").val() * 100);
        var displayAmount = parseFloat(Math.floor($("#amountInDollars").val() * 100) / 100).toFixed(2);

        if (amountInCents < 500) {
            amountInCents = 500;
            displayAmount = 5;
            displayAmount = displayAmount.toFixed(2);
        }
        
        // Open Checkout with further options
        handler.open({
            name: 'Swokowski Mathematics',
            description: 'Donation amount ($' + displayAmount + ')',
            amount: amountInCents,
            });
            e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
        handler.close();
    });
</script>

{% endblock stripe %}