{% extends "swo_app/base.html" %}
{% load static %}
{% block content %}
<!--Carousel Wrapper-->
<div id="video-carousel-example2" class="header-section carousel slide carousel-fade" data-ride="carousel">
<!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
        <li data-target="#video-carousel-example2" data-slide-to="1"></li>
        <li data-target="#video-carousel-example2" data-slide-to="2"></li>
    </ol>
<!--/.Indicators-->
<!--Slides-->
    <div class="carousel-inner" role="listbox">
    <!-- First slide -->
    <div class="carousel-item active">
    <!--Mask color-->
    <div class="view text-left mt-2">
    <!--Video source-->
    <img src="{% static 'swo_app/img/logo.png' %}" height="650" width="650" alt="" class="slider-img img-fluid mb-2 rounded">
    <div class="mask rgba-indigo-light"></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption h-75">
    <div class="animated fadeInDown text-right">
    <h3 class="h3-responsive mb-3">Learn Algebra Online</h3>
    <ul>
    <li>- Over 13 hours and 200+ videos.</li>
    <li>- Hundreds of practice problems.</li>
    <li>- John has 40+ yrs of experience.</li>
    </ul>
    </div>
    </div>
    <!--Caption-->
    </div>
    <!-- /.First slide -->

    <!-- Second slide -->
    <div class="carousel-item">
    <!--Mask color-->
    <div class="view text-left mt-2">
    <!--Video source-->
    <img src="{% static 'swo_app/img/logo.png' %}" height="650" width="650" alt="" class="slider-img img-fluid mb-2 rounded">
    <div class="mask rgba-purple-slight"></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption h-75">
    <div class="animated fadeInDown text-right">
    <h3 class="h3-responsive mb-3">Excellent for Students...</h3>
    <ul>
    <li>- Struggling with Algebra</li>
    <li>- Preparing for the ACT</li>
    <li>- Looking for more practice</li>
    </ul>
    </div>
    </div>
    <!--Caption-->
    </div>
    <!-- /.Second slide -->

    <!-- Third slide -->
    <div class="carousel-item mt-2">
    <!--Mask color-->
    <div class="view text-left">
    <!--Video source-->
    <img src="{% static 'swo_app/img/logo.png' %}" height="650" width="650" alt="" class="slider-img img-fluid mb-2 rounded">
    <div class="mask rgba-black-strong"></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption h-75">
    <div class="animated fadeInDown text-right">
    <h3 class="h3-responsive mb-3">How to get started...</h3>
    <ul>
    <li>1. View the free videos</li>
    <li>2. Read the testimonials</li>
    <li>3. Register and get learning!</li>
    </ul>
    </div>
    </div>
    <!--Caption-->
    </div>
    <!-- /.Third slide -->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--Carousel Wrapper-->
    
<!-- About SECTION -->
<section id="create-section" class="mt-5">
    <div class="home-bottom-section text-light container-fluid">
        <h1 class="text-center mb-5">What is Swokowski Mathematics?</h1>
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center mb-5">
            <i class="fas fa-graduation-cap fa-3x"></i>
            <div class="title">
            <h4>Complete Course</h4>
            </div>
            <div class="text">
            <span>The Ultimate Guide to Understanding Algebra is a comprehensive video course that covers all essential topics of Algebra. The course serves as a great resource to all students looking to learn Algebra.</span>
            </div>
            </div>
        </div>	 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center mb-5">
            <i class="fas fa-film fa-3x"></i>
            <div class="title">
            <h4>High Quality Videos</h4>
            </div>
            <div class="text">
            <span>View 200+ interactive videos that total over 13 hours. The lectures are short, easy to follow, and cover one topic at a time to help keep students focused and engaged.</span>
            </div>
            </div>
        </div>	 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center mb-5">
            <i class="fas fa-calculator fa-3x"></i>
            <div class="title">
            <h4>Practice Makes Perfect</h4>
            </div>
            <div class="text">
            <span>A practice worksheet and answer key is included with each section to ensure students master the material. Unit tests are also available for each chapter.</span>
            </div>
            </div>
        </div>	 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center mb-5">
            <i class="fas fa-question-circle fa-3x"></i>
            <div class="title">
            <h4>Get The Support You Need</h4>
            </div>
            <div class="text">
            <span>John loves teaching and is eager to help any student who wants to learn. If you ever have a question, don't hestiate to reach and ask for help!</span>
            </div>
            </div>
        </div>	 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center mb-5">
            <i class="fas fa-wrench fa-3x"></i>
            <div class="title">
            <h4>Constantly Updated</h4>
            </div>
            <div class="text">
            <span>The course is constantly being updated with new videos, worksheets, tests, and problem walkthroughs. </span>
            </div>
            </div>
        </div>	 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center mb-5">
            <i class="far fa-thumbs-up fa-3x"></i>
            <div class="title">
            <h4>Guaranteed Success</h4>
            </div>
            <div class="text">
            <span>If you put the work in, you'll be guaranteed to succeed. If you're unhappy for any reason, there is a 7 day money back guarantee.</span>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
    
<!-- Instructor SECTION -->
<section id="create-section">
    <div class="home-bottom-section text-light container-fluid">
        <div class="row about-section">   
            <div class="col-md-6 mt-5 mb-5 text-dark">
                <h4 class="mb-4"><strong>Meet your instructor, John!</strong></h4>
                <p class="mb-5">Hello, my name is John Swokowski. I have taught High School Algebra for over 35 years. The most rewarding experiences I have encountered have been working with At-Risk students who did not like Math and thought they could not learn it. I love teaching and am looking forward to reaching many more students through Swokowski Mathematics. </p>
                <h5>Get involved in your learning</h5>
                <p class="mb-5">I will walk you through each topic carefully and will give you the opportunity to practice each of the tasks with downloadable worksheets designed to focus only on the idea that is being discussed. You cannot learn by watching something, or just listening to a lecture. I watch a lot of basketball on TV, but that doesn’t make me a better basketball player!</p>
            </div>
            <div class="col-md-6 mt-5 mb-5 text-dark">
                <h4 class="mb-4"><strong>Check out the welcome video!</strong></h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BhVG74z5BZA" muted="true" allowfullscreen></iframe>
                </div>     
            </div>
        </div>
    </div>
</section>
    
<!-- Section: Testimonials v.1 -->
<section class="testimonals-section text-center p-1 text-light">
<!-- Section heading -->
<h1 class="text-center">Testimonials</h1>
<!-- Section description -->
<p class="dark-grey-text w-responsive mx-auto mb-5">Join a community of over 15,000 satisfied students. See what they are saying about the course.</p>
<!-- Grid row -->
<div class="container-fluid">
<div class="row text-dark">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
    <!--Card-->
    <div class="card testimonial-card mb-5">
        <!--Background color-->
        <div class="card-up info-color"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
            <i class="fas fa-user-tie fa-5x"></i>
        </div>
        <div class="card-body">
        <!--Name-->
        <h4 class="font-weight-bold mb-4">Hans P.</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>This is the best course you will find for Algebra. No matter where you search, you won't find any better course. I really love the short explanation and after that the examples and a lot of stuff to practice, all i learned. If i could, i would give this course n+1 star's!<i class="fas fa-quote-right pl-2"></i></p>
        </div>
    </div>
    <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
    <!--Card-->
    <div class="card testimonial-card mb-5">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
            <i class="fas fa-user-tie fa-5x"></i>
        </div>
        <div class="card-body">
        <!--Name-->
        <h4 class="font-weight-bold mb-4">David B.</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Johns many years of teaching Math is very evident. He explains things in a simple, fun, entertaining way and his prior experience makes him aware of most of the "gotchas" which trip up students new to Algebra. He also responds quickly to any questions you may have. Each section is short, to the point and has plenty of exercises to accompany it so as to reinforce what has been taught.<i class="fas fa-quote-right pl-2"></i></p>
        </div>
    </div>
    <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
    <!--Card-->
    <div class="card testimonial-card mb-5">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
            <i class="fas fa-user-tie fa-5x"></i>
        </div>
        <div class="card-body">
        <!--Name-->
        <h4 class="font-weight-bold mb-4">Deborah W.</h4>
        <hr>
        <!--Quotation-->
        <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>The instructor has a great teaching voice - easy to understand and taking his time through each lesson is good for me. I'm refreshing my skills at the age of 58!<i class="fas fa-quote-right pl-2"></i></p>
        </div>
    </div>
    <!--Card-->
    </div>
    <!--Grid column-->
</div>
</div>
<!-- Grid row -->
</section>
<!-- Section: Testimonials v.1 -->
    
<!-- View Course SECTION -->
<section id="explore-head-section">
    <div class="container-fluid get-started-section">
        <div class="row">
        <div class="col text-center py-4">
            <h1 class="display-4">Ready to get started?</h1>
            <p class="lead">Click below to begin learning or to create an account.</p>
            <span>
                <a href="{% url 'app-course' %}" class="btn btn-outline-secondary">Start Learning</a>
                <a href="{% url 'register' %}" class="btn btn-outline-secondary">Create Account</a>
            </span>
        </div>
        </div>
    </div>
</section>
{% endblock content %}
